<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgx_4NWdG-PQHEjTpeK_426GrtoIRKk5o</string>
	<key>GCM_SENDER_ID</key>
	<string>15572371265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verifyPageTransmaa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>transmaa-d362b</string>
	<key>STORAGE_BUCKET</key>
	<string>transmaa-d362b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15572371265:ios:d261188beb6d7dac3e03c0</string>
	<key>DATABASE_URL</key>
	<string>https://transmaa-d362b-default-rtdb.firebaseio.com</string>
</dict>
</plist>